/**
 The MIT License (MIT)

 Copyright (c) 2017-2018 Timothy Earley, Frederic Metzler, Ruslan Sandler, Lukas Struck, Nils Thoma

 Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */

// reset browser specific rules first
@import (inline) "../../node_modules/normalize.css/normalize.css";

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


@background-color: white;
@accent-color: #d4d4d4;
@primary-color: #FF7832;
@dark-color: #222;

@trigger-width: 600px;

@page-min-width: 680px;

// this creates bigger boxes for bigger screens
//@page-width: 50vw;
// this caps the size so big screens can have multiple things next to each other
@page-width: 1000px;

* {
    overflow-wrap: break-word;
}

html {
    height: 100%;
}

// General Attributes
body {
    background: @background-color;
    font-family: 'Lato',sans-serif;
    position: relative;
    min-height: 100%;
    margin: 0 auto;
    main {
        padding: 3rem 1rem;

        // Temporary Hack
        @media (max-width: @trigger-width) {
            padding-top: 6rem;
        }
    }

    footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        color: @accent-color;
        background-color: @dark-color;
        border-top: 1px solid @accent-color;
        padding: 1rem 0rem;
        text-align: end;

        span {
            padding-right: 1rem;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    color: @dark-color;
}

// General Button Style
.button {
    background-color: @dark-color;
    color: @accent-color;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.75rem 3rem;
    cursor: pointer;

    &:hover, &:focus {
        background-color: @primary-color;
        color: white;
    }
}

// General form style
input[type=text], input[type=email], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid @accent-color;

    &:focus {
        box-shadow: 0 0 5px @primary-color;
        border: 1px solid @primary-color;
    }
}

// Boxes
.box {
    transition: all 0.1s ease;
    background: @background-color;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.175);
    color: @dark-color;
}

// Navigation
.navigation-bar {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    text-transform: uppercase;
    background: fade(@dark-color, 85%);
    border-bottom: 1px solid @accent-color;
    z-index: 100;

    li {
        float: left;

        a {
            display: block;
            color: @accent-color;
            font-size: 1.1rem;
            padding: 1rem 1.75rem;
            text-decoration: none;
            text-align: center;

            &:hover {
                background-color: fade(@primary-color, 85%);
                color: white;
            }
        }

        @media (max-width: @trigger-width) {
            float: none;
        }
    }

    li.right {
        float: right;

        @media (max-width: @trigger-width) {
            float: none;
        }
    }
}

// main title
#title {
    text-align: center;
    text-decoration: underline;
    padding-top: 2rem;
    font-size: 3rem;
}

// links without decoration
a.plain {
    color: inherit;
    text-decoration: inherit;
}

// centers its child div
.center-container {
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
}

// Import all other less files here
@import "styles/dataObject";
@import "styles/timeline";
@import "styles/toggle";
@import "styles/correlation";

@import "pages/home/home.less";
@import "pages/index/index.less";
@import "pages/settings/settings.less";
@import "pages/report/report.less";
@import "pages/correlation/correlation.less";
